@charset "UTF-8";
/* CSS Document */

/*Estructura HTML5*/
* {
	margin:0;
	padding:0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background:#FFF;
	font-family:Helvetica, Arial, sans-serif;
	font-size:1em;
	margin: 0 0 100px;
}

header {
	min-width: 100%;
	background-color:#000;
	position:fixed;
	top:0;
}

section#container{
	margin:0.5em auto;
	max-width:100%;
	padding:0;
}

article{
	min-width: 100%;
	max-height: 980px;
	background-color:#FFF;
	top: 0;
	bottom: 0;
	text-align:center;
}

article #contenido p {
	font-size:14px;
}

article #contenido span {
	font-size:20px;
}


article .des li{
	display: inline-block;
	text-align:right;
	margin-right: 10%;
	margin-left: 10%;
}

article .des img{
	/*margin-top:70%;*/
}

article#home{
	background-image:url(../images/fondo.png);
	background-repeat:no-repeat;
	background-position:center;
}

article#download{
	background-color:#FFF;
}
article#trailer{
	background-image:url(../images/fondotrans.png);
	background-repeat:no-repeat;
	background-position:center;
}
article#personajes{
	background-image:url(../images/fondotrans.png);
	background-repeat:no-repeat;
	background-position:center;
}

.perso {
	max-width:100%;
	margin: 0 auto;
	text-align: center;
}

article .info {
	float: left;
	width:27%;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.texto{
	max-width: 80%;
	text-align: left;
	/*text-align : justify;*/
	margin: 0 auto;
	margin-top: 30px;
}

article .info img{
	margin-top: 8%;
	margin-bottom: 5%;
}

article#about{
	background-color:#FFF;
}

article h1{
	font-size: 36px;
	padding-bottom: 3%;
}

footer{
	min-width: 100%;
	height: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}


/*Estrucuta divs*/
.head{
	max-width: 1200px;
	top: 0;
	padding:0.25em;
	margin:0 auto;
}

.logo {
	display:inline-block;
	text-align:left;
	width:49%;
}

.menus {
	vertical-align:top;
	margin-top:2em;
	display:inline-block;
	text-align:right;
	width:49%;

}

.menus li{
	display:inline-block;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size:20px;
	padding-right:15px
}

.menus a {
	text-decoration:none;
	color: white;
}

.menus a:hover {
	/*color: #38A2C9;*/
	color:#B8B00E;
}


#contenido{
	max-width: 1200px;
	text-align: center;
	font-size: 16px;
	padding-top: 8%;
	display: inline-block;
}

.foot{
	background-color:#000;
	height:100%;
	text-align: center;
	color: #FFF;
}


/*Responsive para todas las imagenes*/
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 480px) {
}
