@charset "UTF-8";
/* CSS Document */

/*Estructura HTML5*/
* {
	margin:0;
	padding:0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	background:#FFF;
	font-family:Helvetica, Arial, sans-serif;
	font-size:1em;
	margin: 0 0 100px;
}

header {
	min-width: 100%;
	background-color:#000;
	position:fixed;
	top:0;
}

section#container{
	margin:0.5em auto;
	max-width:100%;
	padding:0;
}

article{
	min-width: 100%;
	max-height: 1000px;
	background-color:#FFF;
	top: 0;
	background-color:#FFF;
}

article#contenido{
	max-width: 1200px;
	text-align: center;
	font-size: 16px;
	padding-top: 8%;
}

article#download{	
}

article#trailer{
}

article#personajes{
}

article#about{
}

article h1{
	font-size: 36px;
	padding-bottom: 5%;
}

footer{
	min-width: 100%;
	height: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

/*Estrucuta divs*/
.head{
	max-width: 1200px;
	top: 0;
	padding:0.25em;
	margin:0 auto;
}

.logo {
	display:inline-block;
	text-align:left;
	width:49%;
}

.menus {
	vertical-align:top;
	margin-top:2em;
	display:inline-block;
	text-align:right;
	width:49%;
	
}

.menus li{
	display:inline-block;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size:20px;
	padding-right:15px
}

.menus a {
	text-decoration:none;
	color: white;
}

.menus a:hover {
	/*color: #38A2C9;*/
	color:#B8B00E;
}

.foot{
	background-color:#000;
	height:100%;
}


/*Responsive para todas las imagenes*/
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}


/*MEDIA QUERIES*/
@media screen and (max-width: 1280px) {	
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 480px) {
}